@import url('reset.css');

html {
    scroll-behavior: smooth;
}

body {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #222630;
    background: rgba(102, 90, 90, 0.548);
}

.wrapper {
    height: 0;
    min-height: 100%;
    padding: 0 5px;
}

.big-container {
    max-width: 1200px;
    margin: 0px auto;
    background: #ffffff;
}

/*------------------------------------*/
.header-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
}

.nav__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 0 0;
}

.nav__item:last-child {
    margin: 0;
}

.nav__link {
    color: rgb(128, 69, 21);
    font-weight: 700;
    text-shadow: rgba(40, 40, 43, 0.1) -7px 8px 10px;
}

.nav__link:hover {
    color: #9b501f;
}

.nav__link:focus {
    color: #c75d16;
}

/*------------------------------------*/
.content-container {
    display: flex;
    flex-wrap: wrap;
}

.aside-container {
    display: flex;
    flex: 1 1 25%;
    min-width: calc((576px + 1px) * 0.25);
    flex-flow: column;
    background: rgb(82 56 34);
}

.aside-container .photo {
    max-width: 100%;
}

/*------------------------------------*/
.contacts__item {
    display: flex;
    flex-wrap: nowrap;
    height: 35px;
    font-size: 100%;
    margin: 10px 15px;
}

.contacts__item:first-child {
    margin: 20px 15px 10px 15px;
}

.contacts__icon {
    height: 36px;
    width: 36px;
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}

.contacts_link {
    margin: auto 0 auto 10px;
    color: aliceblue;
    text-shadow: #000000 1px 0 10px;
}

.phone-number {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

/*------------------------------------*/
.article-container {
    flex: 1 1 75%;
    min-width: calc((576px + 1px) * 0.25);
}

.descripton {
    margin: 0 15px 0 15px;
    text-align: justify;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 25px 0;
    color: #3e4041;
}

h2 {
    font-weight: bold;
    margin: 0;
}

.description__wrapper {
    margin: 15px 0 0 0;
}

.description__wrapper:first-child {
    margin: 0;
}

.description__header {
    background: rgb(141 96 59);
    padding: 3px 0 3px 15px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    border: 0.5px solid lightgray;
    border-bottom: 0;
    border-radius: 10px 10px 0px 0px;
}

.description__item {
    font-size: 17px;
    padding: 15px;
    /* text-align: justify; */
    border: 0.5px solid lightgray;
}

.description__point {
    margin: 15px 0 0 0;
}

.description__point:first-child {
    margin: 0;
}

.description__point>p {
    margin: 5px 0 0 15px;
    text-justify: auto;
}

.description__point> :nth-child(1) {
    margin: 0;
}

.code {
    font-size: 14px;
}

.see-more {
    display: block;
    font-style: italic;
    margin: 10px 0 0 0;
}

/*------------------------------------*/
.skills {
    height: 100%;
    margin: 25px 15px;
    color: #ffffff;
}

h4 {
    font-weight: 700;
    border-bottom: #ffffff9c 0.2px solid;
    padding-bottom: 8px;
}

.border {
    border-bottom: #ffffff9c 0.2px solid;
}

.skills__item {
    display: flex;
    position: relative;
    margin: 0 0 -15px 0;
}

.w3-mycustom {
    flex: 1 1 70%;
    height: 100%;
    width: 80px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 11.5px;
    text-align: right;
    text-shadow: #000000 1px 0 10px;
}

.w3-brown {
    color: #ffffff !important;
    background-color: #b68556 !important;
}

.w3-container {
    padding-left: 0px;
    padding-right: 5px;
}

h6 {
    font-size: 15px;
    position: relative;
    flex: 1 1 30%;
    top: -11.5px;
    min-width: 55px;
}

/*------------------------------------*/
.footer {
    background: #ffffff;
    bottom: 0;
    color: #313644;
}

.footer-containter {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    padding: 15px 0 0 0;
}

.footer-item {
    margin: 0 auto;
    padding: 0px;
}

.footer-item>* {
    font-size: 15px;
    text-align: center;
}

.rss-logo {
    height: 50px;
    margin: 10px auto 20px auto;
}

.rss-link {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.blue {
    color: #5690b6;
}

/* --------------------------------- */
@media (min-width: 613px) {
    .nav-switch {
        display: none;
    }
}

@media (max-width: 613px) {
    .header-container {
        display: none;
        margin: 0;
    }
}

/* --------------------------------- */
.nav-switch {
    height: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: rgb(28, 47, 224);
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 7px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border: #969696 0.5px solid;
    text-shadow: #696969;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, 5px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.5, 0.5);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -5px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    left: -5px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 30px;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* ----------------------------------------------------- */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.card {
    min-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    transition: transform .5s;
}

.card:hover {
    transform: translateY(-5px);
}

.cards-container li {
    margin: 15px auto 0 auto;
}

.card img {
    width: 100%;
    overflow: hidden;
}

h5 {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 15px 0;
    color: #3e4041;
}

.card p {
    margin: 5px;
}

.card-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #ffffff;
    background-color: #3e4041;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card-button:hover {
    opacity: 0.7;
    background-color: #7B3F00;
}

.card-button:focus {
    opacity: 0.7;
    background-color: #d8ac19;
}